h1 {
    font-size: 3vw;
    font-family: 'Noto Sans KR', sans-serif;
    margin-left: 24vw;
}

.navigation {
    left: 4.5vw;
}

.footer {
    margin-left: 4.5vw;
}

.image img {
    height: 150vh;
    width: 90vw;
    margin-left: -4.85vw;
    margin-top: 17vh;
}

.footer a {
    color: #dda845;
}

.footer a:hover {
    background-color: #dda845;
    color: black;
}

.footer {
    color: #dda845;
}


/* .top {
    background-color: #dda845;
    border: 4px solid black;
} */

a:hover {
    background-color: #dda845;
}

.btn:hover {
    background-color: white;
}

.forminput {
    background-color: #dda845;
}

.btn {
    background-color: #dda845;
}

.contact {
    color: #dda845;
}

h2 {
    margin-left: 3vw;
}

.h {
    margin-left: 18vw;
}

.movie1 {
    font-family: 'Noto Sans KR', sans-serif;
}

.movie1 h3 {
    font-size: 4vw;
    font-family: 'New Rocker', cursive;
    margin: 1vw;
    /* margin-left: 17vw; */
}

.para {
    display: flex;
    flex-direction: column;
    padding: 1vw;
    margin: 1vw;
    /* background-color: #dda845; */
    border-radius: 2vw;
    max-width: 80vw;
}

.parah {
    font-family: fantasy;
}

button.primaryContained {
    background-color: #dda845;
}

.col-6 button:hover {
    color: #dda845;
}

.like input:focus {
    background-color: #dda845;
}

span {
    font-size: 1.7vw;
}

.header1 {
    font-size: 3vw;
    font-family: 'Shadows Into Light', cursive;
    margin: 1vw 2vw;
}

.bg {
    display: flex;
    margin: 1vw;
    padding: 1vw;
}

.bbg {
    background-color: #dda845;
    margin: 1vw;
    padding: 1vw;
    border-radius: 2vw;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.bbgimg img {
    height: 25vw;
    width: 33vw;
    margin: 1vw;
    border-radius: 1vw;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.bg1 {
    display: flex;
    margin: 1vw;
    padding: 1vw;
}

.bbg1 {
    background-color: #daac2f;
    margin: 1vw;
    padding: 1vw;
    border-radius: 2vw;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@media screen and (max-width: 600px) {
    .header h1 {
        margin-left: -3vw;
    }
}

.bbgimg1 img {
    height: 25vw;
    width: 33vw;
    margin: 1vw;
    border-radius: 1vw;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.hr1 hr {
    margin: 1vw;
    border: 3px dashed black;
    max-width: 70vw;
    margin-left: 5vw;
}

.date {
    background: none;
    margin-left: 40vw;
    font-size: 2vw;
    font-family: 'Noto Sans KR', sans-serif;
}

.info {
    background-color: #dda845;
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: 1vw;
    padding: 1vw;
    border-radius: 1vw;
    margin-left: -1vw;
    font-family: 'New Tegomin', serif;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.info span {
    margin: auto;
    /* font-size: 2.1rem; */
    padding: 1vw;
}

.info img {
    margin: auto;
    width: 15vw;
    height: 10vw;
    padding: 1vw;
}

.line {
    max-width: 25vw;
    max-height: 0.1vw;
    background-color: black;
    color: black;
    border: none;
    margin: 1vw;
    margin-left: 27vw;
}

.parahr {
    max-width: 70vw;
    font-size: 2rem;
    background-color: black;
    color: black;
    padding: 0.1vw;
    margin: 2vw;
    max-height: 0.1vw;
}

.hr {
    margin: 1vw;
}

.hr hr {
    max-width: 80vw;
    margin: auto;
    border: 4px dashed black;
    margin-top: 5vw;
}

.extra1 {
    max-width: 50vw;
    margin: auto;
}

.extra1 h4 {
    /* font-size: 3rem; */
    font-family: 'Shadows Into Light', cursive;
    margin: auto;
    padding: 1vw;
    margin-left: 15vw;
}

.youlike a {
    text-decoration: none;
}

.blog1 {
    display: flex;
    /* border: 3px solid #000000; */
    background-color: #daac2f;
    margin: 1vw;
    padding: 1vw;
    border-bottom-right-radius: 2vw;
    border-top-left-radius: 2vw;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.blog1 img {
    width: 15vw;
    height: 10vw;
}

.blog2 {
    display: flex;
    /* border: 3px solid black; */
    background-color: #dda845;
    margin: 1vw;
    padding: 1vw;
    border-bottom-left-radius: 2vw;
    border-top-right-radius: 2vw;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.blog2 img {
    width: 15vw;
    height: 10vw;
}

.heading {
    margin: 1vw;
}

.heading span {
    font-size: 1.5rem;
    margin-left: 1vw;
}

h5 {
    font-size: 2rem;
    padding: 1vw;
    font-family: 'New Tegomin', serif;
}

.extra {
    margin-left: 4.5vw;
    color: #dda845;
}

.extra a {
    color: #dda845;
}

.extra a:hover {
    background-color: #dda845;
    color: #8f671e;
}

.bottom {
    /* background-color: aquamarine; */
    margin-left: -3vw;
}

.bom {
    margin-left: 4.5vw;
    color: #dda845;
}

.bom a {
    color: #dda845;
}

.bom a:hover {
    color: #8f671e;
}

.navleft ul li a:hover {
    background-color: #dda845;
}

.counter-plus:focus {
    background-color: #dda845;
}

.commentf {
    background-color: #dda845;
}

.sub:hover {
    color: #dda845;
    border: 0.1 solid #dda845;
}

.reset:hover {
    color: #dda845;
    border: 0.1 solid #dda845;
}