h1 {
    font-size: 3vw;
    font-family: 'Noto Sans KR', sans-serif;
    margin-left: 24vw;
}

.navigation {
    left: 4.5vw;
}

@media screen and (max-width: 600px) {
    .header h1 {
        margin-left: -3vw;
    }
}

@media screen and (max-width: 600px) {
    .image img {
        margin-left: -4vw;
    }
}

.footer {
    margin-left: 4.5vw;
}

.image img {
    height: 150vh;
    width: 90vw;
    margin-left: -4.85vw;
    margin-top: 17vh;
}

.footer a {
    color: #d4bd73;
}

.footer a:hover {
    background-color: #d4bd73;
    color: black;
}

.footer {
    color: #d4bd73;
}


/* .top1 {
    background-color: #d4bd73;
    border: 4px solid black;
} */

a:hover {
    background-color: #d4bd73;
}

.btn:hover {
    background-color: white;
}

.forminput {
    background-color: #d4bd73;
}

.btn {
    background-color: #d4bd73;
}

.contact {
    color: #d4bd73;
}

h2 {
    margin-left: 3vw;
}

.h {
    margin-left: 18vw;
}

.movie1 {
    font-family: 'Noto Sans KR', sans-serif;
}

.movie1 h3 {
    font-size: 4vw;
    font-family: 'New Rocker', cursive;
    margin: 1vw;
    /* margin-left: 17vw; */
}

.para {
    display: flex;
    flex-direction: column;
    padding: 1vw;
    margin: 1vw;
    /* background-color: #d4bd73; */
    border-radius: 2vw;
    max-width: 80vw;
}

.parah {
    font-family: fantasy;
}

button.primaryContained {
    background-color: #d4bd73;
}

.col-6 button:hover {
    color: #d4bd73;
}

.like input:focus {
    background-color: #d4bd73;
}

span {
    font-size: 1.7vw;
}

.header1 {
    font-size: 3vw;
    font-family: 'Shadows Into Light', cursive;
    margin: 1vw 2vw;
}

.bg {
    display: flex;
    margin: 1vw;
    padding: 1vw;
}

.bbg {
    background-color: #d4bd73;
    margin: 1vw;
    padding: 1vw;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 2vw;
}

.bbgimg img {
    height: 25vw;
    width: 33vw;
    margin: 1vw;
    border-radius: 1vw;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.bg1 {
    display: flex;
    margin: 1vw;
    padding: 1vw;
}

.bbg1 {
    background-color: #d4bd73;
    margin: 1vw;
    padding: 1vw;
    border-radius: 2vw;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.bbgimg1 img {
    height: 25vw;
    width: 33vw;
    margin: 1vw;
    border-radius: 1vw;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.hr1 hr {
    margin: 1vw;
    border: 3px dashed black;
    max-width: 70vw;
    margin-left: 5vw;
}

.date {
    background: none;
    margin-left: 40vw;
    font-size: 2vw;
    font-family: 'Noto Sans KR', sans-serif;
}

.info {
    background-color: #d4bd73;
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: 1vw;
    padding: 1vw;
    border-radius: 1vw;
    margin-left: -1vw;
    font-family: 'New Tegomin', serif;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.info span {
    margin: auto;
    /* font-size: 2.1rem; */
    padding: 1vw;
}

.info img {
    margin: auto;
    width: 15vw;
    height: 10vw;
    padding: 1vw;
}

.line {
    max-width: 25vw;
    max-height: 0.1vw;
    background-color: black;
    color: black;
    border: none;
    margin: 1vw;
    margin-left: 27vw;
}

.parahr {
    max-width: 70vw;
    font-size: 2rem;
    background-color: black;
    color: black;
    padding: 0.1vw;
    margin: 2vw;
    max-height: 0.1vw;
}

.hr {
    margin: 1vw;
}

.hr hr {
    max-width: 80vw;
    margin: auto;
    border: 4px dashed black;
    margin-top: 5vw;
}

.extra1 {
    max-width: 50vw;
    margin: auto;
}

.extra1 h4 {
    /* font-size: 3rem; */
    font-family: 'Shadows Into Light', cursive;
    margin: auto;
    padding: 1vw;
    margin-left: 15vw;
}

.youlike a {
    text-decoration: none;
}

.blog1 {
    display: flex;
    /* border: 3px solid #000000; */
    background-color: #d4bd73;
    margin: 1vw;
    padding: 1vw;
    border-bottom-right-radius: 2vw;
    border-top-left-radius: 2vw;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.blog1 img {
    width: 15vw;
    height: 10vw;
}

.blog2 {
    display: flex;
    /* border: 3px solid black; */
    background-color: #d4bd73;
    margin: 1vw;
    padding: 1vw;
    border-bottom-left-radius: 2vw;
    border-top-right-radius: 2vw;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.blog2 img {
    width: 15vw;
    height: 10vw;
}

.heading {
    margin: 1vw;
}

.heading span {
    font-size: 1.5rem;
    margin-left: 1vw;
}

h5 {
    font-size: 2rem;
    padding: 1vw;
    font-family: 'New Tegomin', serif;
}

.counter-plus:focus {
    background-color: #d4bd73;
}

.commentf {
    background-color: #d4bd73;
}

.sub:hover {
    color: #d4bd73;
    border: 0.1 solid #d4bd73;
}

.reset:hover {
    color: #d4bd73;
    border: 0.1 solid #d4bd73;
}

.extra {
    margin-left: 4.5vw;
    color: #d4bd73;
}

.extra a {
    color: #d4bd73;
}

.extra a:hover {
    background-color: #d4bd73;
    color: #9c8538;
}

.bottom {
    /* background-color: aquamarine; */
    margin-left: -3vw;
}

.bom {
    margin-left: 4.5vw;
    color: #d4bd73;
}

.bom a {
    color: #d4bd73;
}

.bom a:hover {
    color: #9c8538;
}

.navleft ul li a:hover {
    background-color: #d4bd73;
}

.dodo {
    opacity: 0;
}

.js-dodo {
    opacity: 1;
    animation: zoomIn 0.8s linear;
}

.dino {
    opacity: 0;
}

.js-dino {
    opacity: 1;
    animation: zoomIn 0.8s linear;
}

.dino1 {
    opacity: 0;
}

.js-dino1 {
    opacity: 1;
    animation: zoomIn 0.8s linear;
}

.dino2 {
    opacity: 0;
}

.js-dino2 {
    opacity: 1;
    animation: zoomIn 0.8s linear;
}

.dino3 {
    opacity: 0;
}

.js-dino3 {
    opacity: 1;
    animation: zoomIn 0.8s linear;
}

.rhino {
    opacity: 0;
}

.js-rhino {
    opacity: 1;
    animation: zoomInLeft 0.8s linear;
}

.dolphin {
    opacity: 0;
}

.js-dolphin {
    opacity: 1;
    animation: zoomIn 0.8s linear;
}

.rhino1 {
    opacity: 0;
}

.js-rhino1 {
    opacity: 1;
    animation: zoomInRight 0.8s linear;
}

.dolphin1 {
    opacity: 0;
}

.js-dolphin1 {
    opacity: 1;
    animation: zoomIn 0.8s linear;
}

.rhino2 {
    opacity: 0;
}

.js-rhino2 {
    opacity: 1;
    animation: zoomInLeft 0.8s linear;
}

.dolphin2 {
    opacity: 0;
}

.js-dolphin2 {
    opacity: 1;
    animation: zoomIn 0.8s linear;
}

.rhino3 {
    opacity: 0;
}

.js-rhino3 {
    opacity: 1;
    animation: zoomInRight 0.8s linear;
}

.dolphin3 {
    opacity: 0;
}

.js-dolphin3 {
    opacity: 1;
    animation: zoomIn 0.8s linear;
}

.rhino4 {
    opacity: 0;
}

.js-rhino4 {
    opacity: 1;
    animation: zoomInLeft 0.8s linear;
}

.dolphin4 {
    opacity: 0;
}

.js-dolphin4 {
    opacity: 1;
    animation: zoomIn 0.8s linear;
}

.rhino5 {
    opacity: 0;
}

.js-rhino5 {
    opacity: 1;
    animation: zoomInRight 0.8s linear;
}

.dolphin5 {
    opacity: 0;
}

.js-dolphin5 {
    opacity: 1;
    animation: zoomIn 0.8s linear;
}

.rhino6 {
    opacity: 0;
}

.js-rhino6 {
    opacity: 1;
    animation: zoomInLeft 0.8s linear;
}

.dolphin6 {
    opacity: 0;
}

.js-dolphin6 {
    opacity: 1;
    animation: zoomIn 0.8s linear;
}

.rhino7 {
    opacity: 0;
}

.js-rhino7 {
    opacity: 1;
    animation: zoomInRight 0.8s linear;
}

.dolphin7 {
    opacity: 0;
}

.js-dolphin7 {
    opacity: 1;
    animation: zoomIn 0.8s linear;
}

.peacock {
    opacity: 0;
}

.js-peacock {
    opacity: 1;
    animation: bounceInRight 0.8s linear;
}

.crow {
    opacity: 0;
}

.js-crow {
    opacity: 1;
    animation: fadeInUp 0.8s linear;
}

.peacock1 {
    opacity: 0;
}

.js-peacock1 {
    opacity: 1;
    animation: bounceInLeft 0.8s linear;
}

.crow1 {
    opacity: 0;
}

.js-crow1 {
    opacity: 1;
    animation: fadeInUp 0.8s linear;
}

.peacock2 {
    opacity: 0;
}

.js-peacock2 {
    opacity: 1;
    animation: bounceInRight 0.8s linear;
}

.crow2 {
    opacity: 0;
}

.js-crow2 {
    opacity: 1;
    animation: fadeInUp 0.8s linear;
}

.peacock3 {
    opacity: 0;
}

.js-peacock3 {
    opacity: 1;
    animation: bounceInRight 0.8s linear;
}

.crow3 {
    opacity: 0;
}

.js-crow3 {
    opacity: 1;
    animation: fadeInUp 0.8s linear;
}