* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


/* body {
    overflow: hidden;
    Hide scrollbars 
} */


/* navigation section */

.menu-btn {
    position: absolute;
    z-index: 3;
    /* right: 35px;
    top: 35px; */
    margin: auto;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: rgb(255, 255, 255);
    transition: all 0.5s ease-out;
}

.menu-btn.close {
    transform: rotate(180deg);
}


/* Styling the three lines
    to make it an X */

.menu-btn.close .btn-line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.menu-btn.close .btn-line:nth-child(2) {
    opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
}

.navv {
    display: none;
}

#sidebar {
    margin: 4vh;
    font-size: 3vw;
    display: none;
    background: transparent;
    margin-left: 55vw;
}

#sidebar button {
    font-size: 2.5vw;
    width: 5vw;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    opacity: 0.9;
    border: none;
}

.navigation {
    display: flex;
    /* background-color: rgb(113, 205, 228); */
    justify-content: space-between;
    left: 5vw;
    /* max-width: 100vw; */
    width: 90vw;
    overflow: hidden;
    position: fixed;
    height: 7vw;
    z-index: 2;
    top: 0;
    /* font-family: 'New Rocker', cursive; */
}

.navigation::after {
    content: " ";
    background-image: url(black.jpg);
    opacity: 0.9;
    z-index: -1;
    background-repeat: no-repeat;
    height: 90vh;
    width: 100%;
    background-size: cover;
    /* background-attachment: fixed; */
    position: absolute;
}

.navleft {
    display: flex;
    margin: 1vw 0;
    color: whitesmoke;
    overflow: hidden;
    /* z-index: -1; */
}

.navleft ul {
    display: flex;
    margin-top: 1vw;
    font-family: 'Noto Sans KR', sans-serif;
    /* font-family: 'Lemonada', cursive; */
    /* margin-top: 0.6vw; */
}

.navleft ul li a {
    text-decoration: none;
    width: auto;
    margin: 0 0vw;
    padding: 0vw 0.9vw;
    /* margin-top: 3vh; */
    font-size: 1.7vw;
    border-radius: 0.2vw;
    color: whitesmoke;
    float: left;
    transition: 500ms linear;
}

.navleft ul li {
    list-style: none;
    margin: auto;
}

.navleft span {
    font-family: 'New Tegomin', serif;
    font-size: 3.5vw;
    padding: 0 1vh;
    width: auto;
    margin: auto;
    /* margin-left: 1vw; */
    /* font-family: 'Dancing Script', cursive; */
}

.navleft .icon {
    display: none;
}

.navright {
    display: flex;
    /* margin: 1vw; */
    /* margin-top: 1.5vw; */
    margin-top: 2vw;
    margin-right: 1.5vw;
}

.navright img {
    width: 3.4vw;
    height: 3.4vw;
    /* background-color: rgba(0, 0, 0, 0.259); */
    border: none;
}

.forminput {
    font-size: 1.2vw;
    margin: 0.3vw;
    padding: 0.3vw;
    background-color: rgb(151, 218, 240);
    font-family: 'Noto Sans KR', sans-serif;
}

.btn1 {
    display: none;
}

.btn {
    font-size: 1.5vw;
    margin: 0.3vw;
    padding: 0.3vw;
    cursor: pointer;
    background-color: rgb(151, 218, 240);
    font-family: 'Noto Sans KR', sans-serif;
}

.btn:hover {
    background-color: white;
    color: black;
}

.navright input,
button {
    border: 3px solid black;
    border-radius: 1vw;
}

.navleft a:hover {
    color: black;
    background-color: rgb(151, 218, 240);
    transform: scale(1.2, 1.5);
}

.navv {
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
}

.pages ul {
    /* margin: 9vh; */
    margin-top: 3vh;
    font-size: 3vw;
    font-family: 'Noto Sans KR', sans-serif;
}

.pages ul li {
    list-style: none;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.pages ul li a {
    text-decoration: none;
    width: auto;
    margin-left: 40%;
    margin-top: 2vw;
    padding: 3.6vw;
    margin-top: 5vh;
    font-size: 4vw;
    border-radius: 0.2vw;
    color: whitesmoke;
}

.closee button {
    font-size: 8vw;
    border: none;
    background-color: black;
    color: white;
    margin-left: 92vw;
}


/* Home Section */

.image img {
    height: 60vw;
    width: 90vw;
    margin-left: 5vw;
    margin-top: 7vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.image1 img {
    height: 60vw;
    width: 90vw;
    margin-left: 5vw;
    margin-top: 7vh;
}

.anii {
    position: absolute;
    width: 5vw;
    height: 1vw;
    background-color: black;
}

.content {
    text-decoration: none;
    color: black;
}

.container {
    display: flex;
    margin-top: 5vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    /* margin: 5vw; */
    /* background-color: turquoise; */
}

.containleft {
    font-size: 1.8vw;
    margin: auto;
    font-family: 'Noto Sans KR', sans-serif;
    padding: 2vw;
}

.containright img {
    margin: 1vw;
    padding: 2vw;
    border: 3px solid black;
    border-radius: 1000px;
    height: 30vw;
    width: 30vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
}

.container::after {
    content: " ";
    background-image: url('bblue.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.7;
    z-index: -2;
    height: 40vw;
    width: 81%;
    margin-top: 0vw;
    margin-bottom: 2vw;
    /* margin: 5vh 0; */
    position: absolute;
}

.container4 {
    display: flex;
    margin-top: 5vh;
    /* margin: 5vw; */
    /* background-color: turquoise; */
}

.contain4left {
    font-size: 1.8vw;
    margin: auto;
    font-family: 'Noto Sans KR', sans-serif;
    padding: 2vw;
}

.contain4right img {
    margin: 1vw;
    padding: 2vw;
    border: 3px solid black;
    border-radius: 1000px;
    height: 30vw;
    width: 30vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
}

.container4::after {
    content: " ";
    background-image: url('blog.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.7;
    z-index: -2;
    height: 85vh;
    width: 81%;
    /* margin-top: 5vh; */
    /* margin-bottom: 2vh; */
    /* margin: 5vh 0; */
    position: absolute;
}

.container2 {
    display: flex;
    margin-top: 5vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    /* margin: 5vw; */
    font-family: 'Noto Sans KR', sans-serif;
    /* background-color: turquoise; */
}

.contain2left {
    font-size: 1.8vw;
    margin: auto;
    padding: 2vw;
}

.contain2right img {
    margin: 1vw;
    padding: 2vw;
    border: 3px solid black;
    border-radius: 1000px;
    height: 30vw;
    width: 30vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
}

.container2::after {
    content: " ";
    background-image: url('blue1.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.7;
    z-index: -2;
    height: 40vw;
    /* margin-top: 5vh; */
    width: 81%;
    /* margin-top: 2vw; */
    position: absolute;
}

.container1 {
    display: flex;
    /* margin: 5vw; */
    /* background: url(../image/blue12.jpeg); */
    /* width: 80vw; */
    /* height: 80vw; */
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-top: 2vw;
    font-family: 'Noto Sans KR', sans-serif;
    margin-bottom: 2vw;
}

.container1::after {
    content: " ";
    background-image: url('blue10.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.7;
    z-index: -2;
    height: 40vw;
    /* margin-top: 5vh; */
    width: 100%;
    /* margin-top: 2vw; */
    position: absolute;
}

.contain1left {
    font-size: 1.8vw;
    margin: auto;
    padding: 2vw;
}

.contain1right img {
    margin: 1vw;
    padding: 2vw;
    border: 3px solid black;
    border-radius: 1000px;
    height: 30vw;
    width: 30vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
}

.container3 {
    display: flex;
    /* margin: 5vw; */
    /* background: url(../image/blue12.jpeg); */
    /* width: 80vw; */
    /* height: 80vw; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    position: relative;
    margin-top: 2vw;
    font-family: 'Noto Sans KR', sans-serif;
    margin-bottom: 2vw;
}

.container3::after {
    content: " ";
    background-image: url('world1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.7;
    z-index: -2;
    /* margin-top: 5vh; */
    height: 40vw;
    width: 100%;
    margin-bottom: 2vw;
    /* margin-top: 2vw; */
    position: absolute;
}

.contain3left {
    font-size: 1.8vw;
    margin: auto;
    padding: 2vw;
}

.contain3right img {
    margin: 1vw;
    padding: 2vw;
    border: 3px solid black;
    border-radius: 1000px;
    height: 30vw;
    width: 30vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
}

.line {
    height: 5vw;
}


/* hr{
    border-top: 0.5vw dashed black;
} */

.fa {
    padding: 1.3vw;
    font-size: 10vw;
    width: 3vw;
    /* height:3vw ; */
    text-align: center;
    text-decoration: none;
    margin: 0 1vw;
}

.fa:hover {
    opacity: 0.9;
}

.fa-facebook {
    background: #3B5998;
    color: black;
}

.fa-twitter {
    background: #55ACEE;
    color: black;
}

.fa-linkedin {
    background: #007bb5;
    color: black;
}

.fa-instagram {
    background: #f156cb;
    color: black;
}

.fa-pinterest {
    background: #cb2027;
    color: black;
}

.contact {
    display: flex;
    margin-top: 20px;
    background-color: black;
    border-radius: 1vw;
    color: rgb(151, 218, 240);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.header {
    margin: auto auto;
    font-size: 1.2vw;
    font-family: 'Noto Sans KR', sans-serif;
}

.lion {
    height: 10vw;
    width: 70vw;
    background-color: black;
    z-index: -1;
    margin-left: 10vw;
}

.media {
    margin-top: 2vw;
    margin-bottom: 2vw;
    margin-right: 2vw;
}

.h {
    margin-left: 24vw;
}

.like {
    max-width: 50vw;
    display: flex;
    margin: 1vw;
    padding: 1vw;
    margin-left: 23vw;
}

.like p {
    font-size: 2.5vw;
    font-family: 'Noto Sans KR', sans-serif;
    margin: 1vw;
    padding: 1vw;
}

.like img {
    height: 10vw;
    width: 10vw;
    padding: 1vw;
    margin: 1vw;
}

.commentbox {
    max-width: 50vw;
    margin: auto;
    margin-left: 21.5vw;
    background: #fff;
    padding: 1vw;
}

.comment {
    display: block;
    width: 10vw;
}

.commentClicked {
    /* min-height: 0px; */
    border-radius: 0.9vw;
    font-size: 2vw;
    padding: 1vw;
}

.commentbox textarea {
    width: 100%;
    border: none;
    background: #E8E8E8;
    padding: 1vw 2vw;
    height: 5vh;
    border-radius: 0.5vw;
    border-bottom: 3px solid black;
    font-size: 2vw;
    color: black;
}

.ctm {
    font-size: 2.5vw;
    margin-left: 2.5vw;
    padding: 0.7vw;
    font-family: 'Noto Sans KR', sans-serif;
}

button.primaryContained {
    background: #016ba8;
    color: black;
    padding: 1vw;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.1vw;
    transition: 0.5s all;
    font-size: 1.5vw;
    border-radius: 0.5vw;
    border: none;
    border-bottom: 3px solid black;
    margin-left: 34vw;
    margin-top: 1vw;
    width: 20vw;
}

.col-6 button:hover {
    background-color: black;
    color: whitesmoke;
}

.like input {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    box-shadow: 1vw 1vw black;
    border-radius: 1vw;
    background: #a7a7a7;
}

.like input:focus {
    background-color: orange;
    outline: none;
}

.like input:active {
    /* background-color: orange; */
    transform: translate3d(1vw, 10%, 1em);
    box-shadow: 1vw 1vw black;
}

.movie1 h3 {
    text-align: center;
    margin: auto;
    margin-left: 0vw;
}


/* footer section */

.footer {
    height: auto;
    margin: 2vw;
    background-color: black;
    color: rgb(151, 218, 240);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.footer p {
    font-size: 1.5vw;
    font-family: 'Noto Sans KR', sans-serif;
    margin-left: 33vw;
    margin-top: 1vw;
}

.footer a {
    font-size: 1.5vw;
    font-family: 'Noto Sans KR', sans-serif;
    margin-left: 42vw;
    margin-top: 2vw;
    text-decoration: none;
    color: rgb(151, 218, 240);
}

.footer a:hover {
    background-color: rgb(151, 218, 240);
    color: rgb(75, 169, 200);
}


/* Extra side for blog suggestion */

.extra {
    height: 100%;
    width: 100%;
    margin: 2vw;
    background-color: black;
    color: rgb(151, 218, 240);
    border-radius: 0vw;
}

.bottom1 {
    display: flex;
    margin-right: 50vw;
}

.extra p {
    font-size: 1.7vw;
    font-family: 'Noto Sans KR', sans-serif;
    margin-left: 5vw;
    margin-top: 0.2vw;
}

.extra h4 {
    font-size: 2.2vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 4vw none;
    margin-top: 2vw;
    margin-left: 5vw;
    margin-bottom: 2vw;
}

.travel hr {
    width: 70vw;
}

.extra h5 {
    font-size: 2vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 1vw;
    margin-left: 5vw;
}

.extra a {
    font-size: 1vw;
    font-family: 'Noto Sans KR', sans-serif;
    margin-left: 2vw;
    margin-top: 1vw;
    text-decoration: none;
    color: rgb(151, 218, 240);
}

.extra a:hover {
    background-color: rgb(151, 218, 240);
    color: rgb(75, 169, 200);
}

.bom {
    height: 13vw;
    margin: 5vw;
    background-color: black;
    color: rgb(151, 218, 240);
    border-radius: 0vw;
}

.bottom {
    display: flex;
    margin-right: 50vw;
    margin-top: 2vw;
}

.bom h4 {
    font-size: 2.2vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 4vw none;
    margin-top: 0vw;
    margin-left: 5vw;
    margin-bottom: 2vw;
}

.top a {
    font-size: 1.7vw;
    font-family: 'Noto Sans KR', sans-serif;
    margin-left: 4vw;
    /* margin-top: 5vw; */
    text-decoration: none;
    color: rgb(151, 218, 240);
}

.top a:hover {
    color: rgb(75, 169, 200);
    background-color: black;
}


/* Comment section  */

.commentf {
    margin-left: 22.5vw;
    width: 50vw;
    padding: 2vw;
    background-color: rgb(91, 133, 248);
    border-radius: 1vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
    opacity: 0;
    transition: all 300ms ease-in;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.js-comment {
    opacity: 1;
    animation: zoomIn 0.5s linear;
}

.commentf table {
    margin-left: 8vw;
}

tr td {
    display: flex;
    flex-direction: column;
    margin: 1vw;
    padding: 0.1vw;
}

tr td label {
    font-size: 2.2vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

tr td input {
    font-size: 1.7vw;
    width: 30vw;
    padding: 0.2vw;
    border-radius: 0.5vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

tr td textarea {
    font-size: 1.7vw;
    padding: 0.2vw;
    border-radius: 0.5vw;
    width: 30vw;
    background-color: gainsboro;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

tr td input::placeholder {
    background-color: gainsboro;
}

.sub {
    margin: 1vw 0;
    color: black;
    background-color: rgb(158, 157, 157);
    border: 0.1 solid black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.sub:hover {
    cursor: pointer;
    color: rgb(39, 114, 199);
    background-color: black;
    border: 0.1 solid rgb(39, 114, 199);
}

.reset:hover {
    cursor: pointer;
    color: rgb(39, 114, 199);
    background-color: black;
    border: 0.1 solid rgb(39, 114, 199);
}

.reset {
    margin: 1vw 0;
    color: black;
    background-color: rgb(158, 157, 157);
    border: 0.1 solid black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.heading h5 {
    font-size: 2vw;
}

.extra1 h4 {
    font-size: 3vw;
}

.info span {
    font-size: 2vw;
}


/* animation  */


/* .top1 {
    display: flex;
    margin: auto auto;
    border-radius: 5vw;
    border: 4px solid black;
    position: relative;
    animation: mymove 5s infinite;
}

@keyframes mymove {
    from {
        left: 0px;
    }
    to {
        left: 200px;
    }
} */

.titlew {
    animation: color-animation 4s linear infinite;
}

.title-word-1 {
    --color-1: #000000;
    --color-2: #393939;
    --color-3: #5e5e5e;
}

.title-word-2 {
    --color-1: #5b5b5b;
    --color-2: #000000;
    --color-3: #393a3a;
}

.title-word-3 {
    --color-1: #000000;
    --color-2: #636363;
    --color-3: #3a3a3a;
}

@keyframes color-animation {
    0% {
        color: var(--color-1)
    }
    32% {
        color: var(--color-1)
    }
    33% {
        color: var(--color-2)
    }
    65% {
        color: var(--color-2)
    }
    66% {
        color: var(--color-3)
    }
    99% {
        color: var(--color-3)
    }
    100% {
        color: var(--color-1)
    }
}


/* Here are just some visual styles. 🖌 */

.header {
    display: grid;
    place-items: center;
    text-align: center;
    /* height: 100vh */
}

.title {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 8.5vw;
    text-transform: uppercase;
}

.extra {
    opacity: 0;
    transition: all 300ms ease-in;
}

.js-pop {
    opacity: 1;
    animation: fadeInUp 900ms linear;
}

.contact {
    opacity: 0;
    transition: all 300ms ease-in;
}

.js-foll {
    opacity: 1;
    animation: flipInX 1s linear;
}

.header h1 {
    opacity: 1;
}

#preloader {
    background: #000000 url(/image/giphy.gif) no-repeat center center;
    background-size: 15%;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100;
}


/* Transition */

.shark {
    opacity: 0;
}

.js-heading {
    opacity: 1;
    animation: fadeIn 0.7s linear;
}

.shark {
    opacity: 0;
}

.js-shark {
    opacity: 1;
    animation: zoomIn 0.7s linear;
}

.zebra {
    opacity: 0;
}

.js-zebra {
    opacity: 1;
    animation: bounce 0.8s linear;
}

.puma {
    opacity: 0;
}

.js-puma {
    opacity: 1;
    animation: slideInUp 0.9s linear;
}

.deer {
    opacity: 0;
}

.js-deer {
    opacity: 1;
    animation: bounceInLeft 0.7s linear;
}

.wolf {
    opacity: 0;
}

.js-wolf {
    opacity: 1;
    animation: zoomIn 0.7s linear;
}

.deer1 {
    opacity: 0;
}

.js-deer1 {
    opacity: 1;
    animation: bounceInRight 0.7s linear;
}

.wolf1 {
    opacity: 0;
}

.js-wolf1 {
    opacity: 1;
    animation: zoomIn 0.7s linear;
}

.deer2 {
    opacity: 0;
}

.js-deer2 {
    opacity: 1;
    animation: bounceInLeft 0.7s linear;
}

.wolf2 {
    opacity: 0;
}

.js-wolf2 {
    opacity: 1;
    animation: zoomIn 0.7s linear;
}

.deer3 {
    opacity: 0;
}

.js-deer3 {
    opacity: 1;
    animation: bounceInRight 0.7s linear;
}

.wolf3 {
    opacity: 0;
}

.js-wolf3 {
    opacity: 1;
    animation: zoomIn 0.7s linear;
}

.deer4 {
    opacity: 0;
}

.js-deer4 {
    opacity: 1;
    animation: bounceInLeft 0.7s linear;
}

.wolf4 {
    opacity: 0;
}

.js-wolf4 {
    opacity: 1;
    animation: zoomIn 0.7s linear;
}

.deer5 {
    opacity: 0;
}

.js-deer5 {
    opacity: 1;
    animation: bounceInRight 0.7s linear;
}

.wolf5 {
    opacity: 0;
}

.js-wolf5 {
    opacity: 1;
    animation: zoomIn 0.7s linear;
}

.deer6 {
    opacity: 0;
}

.js-deer6 {
    opacity: 1;
    animation: bounceInLeft 0.7s linear;
}

.wolf6 {
    opacity: 0;
}

.js-wolf6 {
    opacity: 1;
    animation: zoomIn 0.7s linear;
}

.dodo {
    opacity: 0;
}

.js-dodo {
    opacity: 1;
    animation: zoomIn 0.8s linear;
}

.dino {
    opacity: 0;
}

.js-dino {
    opacity: 1;
    animation: zoomIn 0.8s linear;
}

.dino1 {
    opacity: 0;
}

.js-dino1 {
    opacity: 1;
    animation: zoomIn 0.8s linear;
}

.dino2 {
    opacity: 0;
}

.js-dino2 {
    opacity: 1;
    animation: zoomIn 0.8s linear;
}

.dino3 {
    opacity: 0;
}

.js-dino3 {
    opacity: 1;
    animation: zoomIn 0.8s linear;
}

.rhino {
    opacity: 0;
}

.js-rhino {
    opacity: 1;
    animation: zoomInLeft 0.8s linear;
}

.dolphin {
    opacity: 0;
}

.js-dolphin {
    opacity: 1;
    animation: zoomIn 0.8s linear;
}

.rhino1 {
    opacity: 0;
}

.js-rhino1 {
    opacity: 1;
    animation: zoomInRight 0.8s linear;
}

.dolphin1 {
    opacity: 0;
}

.js-dolphin1 {
    opacity: 1;
    animation: zoomIn 0.8s linear;
}

.rhino2 {
    opacity: 0;
}

.js-rhino2 {
    opacity: 1;
    animation: zoomInLeft 0.8s linear;
}

.dolphin2 {
    opacity: 0;
}

.js-dolphin2 {
    opacity: 1;
    animation: zoomIn 0.8s linear;
}

.rhino3 {
    opacity: 0;
}

.js-rhino3 {
    opacity: 1;
    animation: zoomInRight 0.8s linear;
}

.dolphin3 {
    opacity: 0;
}

.js-dolphin3 {
    opacity: 1;
    animation: zoomIn 0.8s linear;
}

.rhino4 {
    opacity: 0;
}

.js-rhino4 {
    opacity: 1;
    animation: zoomInLeft 0.8s linear;
}

.dolphin4 {
    opacity: 0;
}

.js-dolphin4 {
    opacity: 1;
    animation: zoomIn 0.8s linear;
}

.rhino5 {
    opacity: 0;
}

.js-rhino5 {
    opacity: 1;
    animation: zoomInRight 0.8s linear;
}

.dolphin5 {
    opacity: 0;
}

.js-dolphin5 {
    opacity: 1;
    animation: zoomIn 0.8s linear;
}

.rhino6 {
    opacity: 0;
}

.js-rhino6 {
    opacity: 1;
    animation: zoomInLeft 0.8s linear;
}

.dolphin6 {
    opacity: 0;
}

.js-dolphin6 {
    opacity: 1;
    animation: zoomIn 0.8s linear;
}

.rhino7 {
    opacity: 0;
}

.js-rhino7 {
    opacity: 1;
    animation: zoomInRight 0.8s linear;
}

.dolphin7 {
    opacity: 0;
}

.js-dolphin7 {
    opacity: 1;
    animation: zoomIn 0.8s linear;
}

.peacock {
    opacity: 0;
}

.js-peacock {
    opacity: 1;
    animation: bounceInRight 0.8s linear;
}

.crow {
    opacity: 0;
}

.js-crow {
    opacity: 1;
    animation: fadeInUp 0.8s linear;
}

.peacock1 {
    opacity: 0;
}

.js-peacock1 {
    opacity: 1;
    animation: bounceInLeft 0.8s linear;
}

.crow1 {
    opacity: 0;
}

.js-crow1 {
    opacity: 1;
    animation: fadeInUp 0.8s linear;
}

.peacock2 {
    opacity: 0;
}

.js-peacock2 {
    opacity: 1;
    animation: bounceInRight 0.8s linear;
}

.crow2 {
    opacity: 0;
}

.js-crow2 {
    opacity: 1;
    animation: fadeInUp 0.8s linear;
}

.peacock3 {
    opacity: 0;
}

.js-peacock3 {
    opacity: 1;
    animation: bounceInRight 0.8s linear;
}

.crow3 {
    opacity: 0;
}

.js-crow3 {
    opacity: 1;
    animation: fadeInUp 0.8s linear;
}